<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <listener>
  	<listener-class>listeners.HttpSessionInitListen</listener-class>
  </listener>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RegistrationServlet</servlet-name>
  	<display-name>RegistrationServlet</display-name>
  	<description></description>
  	<servlet-class>servlets.RegistrationServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>VerificationServlet</servlet-name>
  	<display-name>VerificationServlet</display-name>
  	<description></description>
  	<servlet-class>servlets.VerificationServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Login</servlet-name>
  	<display-name>Login</display-name>
  	<description></description>
  	<servlet-class>servlets.Login</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Homepage</servlet-name>
  	<display-name>Homepage</display-name>
  	<description></description>
  	<servlet-class>servlets.Homepage</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Register</servlet-name>
  	<display-name>Register</display-name>
  	<description></description>
  	<servlet-class>servlets.Register</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Verify</servlet-name>
  	<display-name>Verify</display-name>
  	<description></description>
  	<servlet-class>servlets.Verify</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Success</servlet-name>
  	<display-name>Success</display-name>
  	<description></description>
  	<servlet-class>servlets.Success</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Logout</servlet-name>
  	<display-name>Logout</display-name>
  	<description></description>
  	<servlet-class>servlets.Logout</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Tables</servlet-name>
  	<display-name>Tables</display-name>
  	<description></description>
  	<servlet-class>servlets.Tables</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Charts</servlet-name>
  	<display-name>Charts</display-name>
  	<description></description>
  	<servlet-class>servlets.Charts</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>StateDataUpdate</servlet-name>
  	<display-name>StateDataUpdate</display-name>
  	<description></description>
  	<servlet-class>servlets.StateDataUpdate</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>updateData</servlet-name>
  	<display-name>updateData</display-name>
  	<description></description>
  	<servlet-class>servlets.updateData</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DownloadPDF</servlet-name>
  	<display-name>DownloadPDF</display-name>
  	<description></description>
  	<servlet-class>servlets.DownloadPDF</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Pass</servlet-name>
  	<display-name>Pass</display-name>
  	<description></description>
  	<servlet-class>servlets.Pass</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GenerateReport</servlet-name>
  	<display-name>GenerateReport</display-name>
  	<description></description>
  	<servlet-class>servlets.GenerateReport</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CheckPass</servlet-name>
  	<display-name>CheckPass</display-name>
  	<description></description>
  	<servlet-class>servlets.CheckPass</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SendMail</servlet-name>
  	<display-name>SendMail</display-name>
  	<description></description>
  	<servlet-class>servlets.SendMail</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Admin</servlet-name>
  	<display-name>Admin</display-name>
  	<description></description>
  	<servlet-class>servlets.Admin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminLogin</servlet-name>
  	<display-name>AdminLogin</display-name>
  	<description></description>
  	<servlet-class>servlets.AdminLogin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminHome</servlet-name>
  	<display-name>AdminHome</display-name>
  	<description></description>
  	<servlet-class>servlets.AdminHome</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ChartDataUpdate</servlet-name>
  	<display-name>ChartDataUpdate</display-name>
  	<description></description>
  	<servlet-class>servlets.ChartDataUpdate</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateChartData</servlet-name>
  	<display-name>UpdateChartData</display-name>
  	<description></description>
  	<servlet-class>servlets.UpdateChartData</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddChartData</servlet-name>
  	<display-name>AddChartData</display-name>
  	<description></description>
  	<servlet-class>servlets.AddChartData</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddAdmin</servlet-name>
  	<display-name>AddAdmin</display-name>
  	<description></description>
  	<servlet-class>servlets.AddAdmin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddAdminToDB</servlet-name>
  	<display-name>AddAdminToDB</display-name>
  	<description></description>
  	<servlet-class>servlets.AddAdminToDB</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminLogout</servlet-name>
  	<display-name>AdminLogout</display-name>
  	<description></description>
  	<servlet-class>servlets.AdminLogout</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RegistrationServlet</servlet-name>
  	<url-pattern>/RegistrationServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>VerificationServlet</servlet-name>
  	<url-pattern>/VerificationServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Login</servlet-name>
  	<url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Homepage</servlet-name>
  	<url-pattern>/Homepage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Register</servlet-name>
  	<url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Verify</servlet-name>
  	<url-pattern>/Verify</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Success</servlet-name>
  	<url-pattern>/Success</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Logout</servlet-name>
  	<url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Tables</servlet-name>
  	<url-pattern>/Tables</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Charts</servlet-name>
  	<url-pattern>/Charts</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>StateDataUpdate</servlet-name>
  	<url-pattern>/StateDataUpdate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>updateData</servlet-name>
  	<url-pattern>/updateData</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DownloadPDF</servlet-name>
  	<url-pattern>/DownloadPDF</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Pass</servlet-name>
  	<url-pattern>/Pass</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GenerateReport</servlet-name>
  	<url-pattern>/GenerateReport</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CheckPass</servlet-name>
  	<url-pattern>/CheckPass</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SendMail</servlet-name>
  	<url-pattern>/SendMail</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Admin</servlet-name>
  	<url-pattern>/Admin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminLogin</servlet-name>
  	<url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminHome</servlet-name>
  	<url-pattern>/AdminHome</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ChartDataUpdate</servlet-name>
  	<url-pattern>/ChartDataUpdate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateChartData</servlet-name>
  	<url-pattern>/UpdateChartData</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddChartData</servlet-name>
  	<url-pattern>/AddChartData</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddAdmin</servlet-name>
  	<url-pattern>/AddAdmin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddAdminToDB</servlet-name>
  	<url-pattern>/AddAdminToDB</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminLogout</servlet-name>
  	<url-pattern>/AdminLogout</url-pattern>
  </servlet-mapping>
</web-app>
